@font-face {
    font-family: "Roboto";
    src: url("fonts/web/roboto.woff2") format("woff2"),
         url("fonts/web/roboto.woff") format("woff"),
         url("fonts/web/robotobold.woff2") format ("woff2"),
         url("fonts/web/robotobold.woff") format("woff"),
         url("fonts/web/robotomedium.woff2") format("woff2"),
         url("fonts/web/robotomedium.woff") format("woff");
}
/*Основные стили*/
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}
a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
img {
    max-width: 100%;
    height: auto;
  }
.wrapper {
    padding-left: 20px;
    padding-right: 20px;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
/*Кнопки*/
.button {
    padding: 15px 15px;
    font-size: inherit;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #fb565a;
    border: none;
    border-radius: 2px;
}
.button:hover{
    background-color: #e74246;
}
.button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
}
.button-green {
    background-color: #00ca74;
}
.button-green:hover {
    background-color: #00bc6c;
}
.button-green:active {
    background-color: #00aa62;
    color: rgba(255, 255, 255, 0.3);
}
.button-yellow {
    background-color: #efc84a;
}
.button-yellow:hover {
   background-color: #eab534;
}
.button-yellow:active {
    background-color: #e5a722;
    color: rgba(255, 255, 255, 0.3);
}
.button-grey {
    color: #000000;
    background-color: #eeeeee;
}
.button-grey:hover {
    background-color: #dfdfdf;
}
.button-grey:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}
/*Навигация*/
header {
    background-color: #eeeeee;
}
.main-nav {
    display: flex;
    padding-top: 49px;
    padding-bottom: 5px;
    font-weight: 500;
    text-transform: uppercase;
}
.main-header-logo {
    margin-right: 20px;
}
.site-navigation {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding-top: 34px;
    padding-left: 182px;
}
.site-navigation a {
    color: #000000;
}
.site-navigation a:hover {
    color: #fb565a;
}
.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}
.site-navigation a:focus {
    border-bottom: 2px solid #fb565a;
}
.site-navigation li {
    padding-right:  45px;
}
.site-navigation li:last-child{
    padding-right: 0;
    margin-left: auto;
}
.cart-nav {
    position: relative;
}
.cart-nav::before {
    content: "";
    display: block;
    position: absolute;
    left: -41px;
    top: 0px;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
}
/* Слайдер*/
.slider-section {
    background-color: #eeeeee;
}
.slider-wrapper {
    min-height: 413px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/slide-picture.png);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: top;
}
.slider-wrapper::before,
.slider-wrapper::after {
    content: "";
    visibility: hidden;
}
.slider-wrapper::before {
    background-image: url("../img/slide-picture2.png");
}
.slider-wrapper::after {
    background-image: url("../img/slide-picture3.png");
}
.slider {
    position: relative;
}
.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide-title {
    display: inline-block;

    max-width: 515px;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}
.slide p {
    display: block;
    padding-top: 28px;
    max-width: 409px;
    color: #283136;
    margin: 0;
}
.slide-button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 15px;
    border-radius: 2px;
    min-width: 240px;
    box-sizing: border-box;
}
.slider-controls label {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    vertical-align: top;  
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.slider-controls {
    position: absolute;
    top: 299px;
    left: 540px;
    z-index: 20;
    font-size: 0;
}
.slide {
    display: none;
    padding-top: 67px;
}
#product-1:checked ~ .slider-wrapper #slide1,
#product-2:checked ~ .slider-wrapper #slide2,
#product-3:checked ~ .slider-wrapper #slide3 {
    display: block;
}
#product-1:checked ~ .slider-wrapper label[for="product-1"],
#product-2:checked ~ .slider-wrapper label[for="product-2"],
#product-3:checked ~ .slider-wrapper label[for="product-3"] {
    background-color: #ffffff;
    background-image: url("../img/active-button.svg");
    background-position: 50% 50%;
}
#product-1:checked ~ .slider-wrapper {
    background-image: url("../img/slide-picture.png");
}  
#product-2:checked ~ .slider-wrapper {
    background-image: url("../img/slide-picture2.png");
} 
#product-3:checked ~ .slider-wrapper {
    background-image: url("../img/slide-picture3.png");
}
/*Продукты компании*/
.products {
   padding-bottom: 54px;
}
.products-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}
.product-item span {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
}
.product-item p {
    margin: 0;
    margin-bottom: 35px;
    padding-top: 26px;
    color: #283136;
}
.product-item{
    flex-basis: 300px;
    margin-bottom: 10px;
    margin-right: auto;
}
.product-item .button {
    display: inline-block;
    min-width: 160px;
    box-sizing: border-box;
}
.product-1::before {
    content: "";
    display: block;
    margin-bottom: 30px;
    width: 300px;
    height: 146px;
    background-image: url("../img/advantage-picture-red.jpg");
    background-repeat: no-repeat;
}
.product-2::before {
    content: "";
    display: block;
    margin-bottom: 30px;
    width: 300px;
    height: 146px;
    background-image: url("../img/advantage-picture-green.jpg");
    background-repeat: no-repeat;
}
.product-3::before{
    content: "";
    display: block;
    margin-bottom: 30px;
    width: 300px;
    height: 146px;
    background-image: url("../img/advantage-picture-yellow.jpg");
    background-repeat: no-repeat;
}
/*О нас*/
.features-section::before {
    content: "";
    display: block;
    background-color: #eeeeee;
    height: 2px;
}
.features {
    display: flex;
    padding-bottom: 18px;
}
.features-left {
    width: 650px;
    padding-top: 80px;
    padding-right: 75px;
}
.slogan {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}
.features-description {
    margin: 0;
    padding-top: 35px;
    color: #283136;
}
.features-listname {
    margin: 0;
    padding-top: 47px;
    font-weight: bold;
    text-transform: uppercase;
}
.features-list {
    margin: 0;
    padding-top: 16px;
    color: #283136;
    list-style-type: none;
}
.features-list li {
    margin-bottom: 20px;
    position: relative;
}
.features-list li::before {
    content: "";
    position: absolute;
    top: 13px;
    left: -32px;
    display: block;
    height: 2px;
    width: 25px;
    background-color: #fb565a;
}
.features-right{
    width: 360px;
    padding-left: 75px;
}
.features-right::before {
    content: "";
    display: block;
    margin-top: 45px;
    margin-bottom: 40px;
    width: 360px;
    height: 208px;
    background-image: url("../img/nerds-picture.jpg");
    background-repeat: no-repeat;
}
.feat-def-slogan {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.features-right table{
    padding-top: 18px;
    border-spacing: 0 27px;
    width: 360px;
    line-height: 1;
}
.features-right th {
    height: 45px;
    text-align: left;
    font-size: 45px;
    font-weight: bold;
}
.features-right td {
    height: 35px;
    line-height: 18px;
    color: #283136;
}
.features sup{
    font-size: 28px;
}
/*Проекты*/
.projects-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 180px;
    list-style: none;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}
.projects-list li {
    position: relative;
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
.list-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 18px;
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
}
.projects-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    opacity: 0.2;
}
.projects-button:hover,
.projects-button:focus {
    -moz-transition: all 0s; 
    -webkit-transition: all 0s;  
    -ms-transition: all 0s;  
    -o-transition: all 0s;  
    transition: all 0s; 
    opacity: 1;
}
.projects-button:active{
    -moz-transition: all 0s; 
    -webkit-transition: all 0s;  
    -ms-transition: all 0s;  
    -o-transition: all 0s;  
    transition: all 0s; 
    opacity: 0.1;
}
.project-1 {
    width: 199px;
    height: 68px;
    background-image: url("../img/htmlacdemy-logo.png");
}
.project-2 {
    width: 209px;
    height: 90px;
    background-image: url("../img/borodinski-logo.png");
}
.project-3 {
    width: 185px;
    height: 52px;
    background-image: url("../img/pink-logo.png");
}
.project-4 {
    width: 173px;
    height: 84px;
    background-image: url("../img/mishka-logo.png");
}
/*Контакты*/
footer .wrapper {
    position: relative;
}
.contacts-window{
    position: absolute;
    top: -364px;
    width: 319px;
    height: 308px;
    padding-left: 50px;
    padding-top: 54px;
    background-color: #ffffff;
    box-sizing: border-box;
}
.contacts .button {
    position: absolute;
    top: 211px;
    left: 50px;
}
.contacts-title {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}
.contacts {
    color: #666666;
    line-height: 16px;
}
.contacts-link {
    margin-top: 20px;
    font: inherit;
    color: #666666;
}
.contacts .button {
    padding: 17px 46px;
}
/*Футер*/
.map-container {
    padding-top: 80px;
}
.inner-page .map {
    margin-top: 60px;
}
.footer-container {
    display: flex;
    align-items: center;
    padding-top: 53px;
    padding-bottom: 53px;
}
.footer-slogan {
    padding-left: 120px;
}
.footer-slogan p:first-child{
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    margin: 0;
}
.footer-slogan p:last-child {
    padding-top: 10px;
    color: #444444;
    margin: 0;
}
.socials-list {
    display: flex;
    width: 260px;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    padding-right: 20px;
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79px;
    height: 79px;
    background-color: #e1e1e1;
    border-radius: 50%;
}
.social-link:hover,
.social-link:focus {
    background-color: #e74246;
}
.social-link:active {
    background-color: #d7373b;
}
.social-link:active svg{
    opacity: 0.3;
}
/*Модальное окно*/
.modal {
    display: none;
    position: fixed;
    bottom: 180px;
    left: 50%;
    margin-left: -480px;
    padding: 73px 100px;
    width: 960px;
    box-sizing: border-box;
    box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
    background-color: #ffffff;
}
.modal-close {
    position: absolute;
    top: 78px;
    right: 90px;
    height: 21px;
    width: 21px;
    background-color: #ffffff;
    background-image: url("../img/close-cross.svg");
    opacity: 0.3;
    border: 0;
    cursor: pointer;
}
.modal h2 {
    margin: 0;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}
.modal p{
    margin: 0;
}
.modal label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    line-height: 18px;
}
.half-width {
   display: flex; 
   justify-content: space-between;
   padding-top: 49px;
   margin-bottom: 36px;
}
.modal-form input[type="text"],
.modal-form input[type="email"] {
    box-sizing: border-box;
    width: 360px;
    padding: 15px 18px;
    font:inherit;
    color: #444444;
    border: 2px solid #d7dcde;
    background-color: #ffffff;
    border-radius: 2px;
}
.modal-form input:hover {
    border: 2px solid #b4b9bb;
}
.modal-form input:focus {
    border: 2px solid #000000;
}
.modal-form input:invalid {
    border: 2px solid #e74246;
    color: #e74246; 
}
.user-comment input[type="text"] {
    width: 760px;
    width: 118px;
}
.modal-form textarea {
    box-sizing: border-box;
    width: 760px;
    height: 118px;
    padding: 15px 15px;
    font: inherit;
    color: #444444;
    border: 2px solid #d7dcde;
    background-color: #ffffff;
}
.modal-form textarea:hover{
    border: 2px solid #b4b9bb;
}
.modal-form textarea:focus {
    border: 2px solid #000000;
}
.modal-button {
    margin-top: 66px;
    padding: 19px 82px;
}
/*Каталог*/
.inner-title {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 235px;
    margin: 0;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    background-color: #eeeeee;
}
.catalog-wrapper {
    display: flex;
}
.right-container {
    padding-left: 140px;
    padding-top: 60px;
    flex-grow: 1;
}
/*Форма фильтра*/
.filter {
    padding-top: 63px;
}
.filter fieldset {
    border: none;
    padding-left: 0;
}
.filter legend {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
}
.filter .price-cost {
    color: #283136;
    text-transform: uppercase;
}
.filter ul {
    list-style: none;
    line-height: 20px;
    color: #283136;
}
.filter-item {
    margin: 0;
    padding: 0;
}
.range-filter {
    width: 260px;
    margin-top: 49px;
}
.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}
.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.range-controls .scale {
    height: 2px;  
    background: #d7dcde;
}
.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}
.range-controls .toggle-min {
    left: 18px;
}  
.range-controls .toggle-max {
    left: 160px;
}
.price-controls {
    font-size: 0;
}
.price-controls label {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
}
.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;    
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}
.max-price {
    text-align: right;
}
/*Кнопки фильтра*/
.grid legend {
    padding-top: 62px;
}
.grid-list {
    padding-left: 10px;
}
.grid-list li {
    margin-bottom: 15px;
}
.grid-list input[type="radio"] {
    display: none;
}
.grid-list label {
    display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	user-select: none;
}
.grid-list label::before {
    content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	position: absolute;
	left: -10px;
	top: -2px;
    background: url("../img/radio-off.svg") 0 0 no-repeat;
    filter: opacity(0.4);
}
.grid-list input[type="radio"]:checked + label::before {
    background: url("../img/radio-on.svg") 0 0 no-repeat;
    filter: opacity(0.4);
}
.grid-list label:hover::before {
    filter: opacity(1);
}
.grid-list label:disabled::before {
    filter: opacity(0.1);
}
.grid-list label:disabled {
    filter: opacity(0.3);
}
.grid-list input[type="radio"]:checked + label:hover::before{
    filter: opacity(1);
}
.grid-list input[type="radio"]:checked + label:disabled::before{
    filter: opacity(0.1);
}
.specials {
    padding-bottom: 50px;
}
.specials legend {
    padding-top: 57px;
}
.specials-list {
    padding-left: 11px;
}
.specials-list li {
    margin-bottom: 15px;
}
.specials-list input[type="checkbox"] {
    display: none;
}
.specials-list label {
    display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	user-select: none;
}
.specials-list label::before {
    content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	position: absolute;
	left: -10px;
	top: -2px;
    background: url("../img/checkbox-off.svg") 0 0 no-repeat;
    filter: opacity(0.4);
}
.specials-list input[type="checkbox"]:checked + label::before {
    background: url("../img/checkbox-on.svg") 0 0 no-repeat;
    filter: opacity(0.4);
}
.specials-list label:hover::before {
    filter: opacity(1);
}
.specials-list label:disabled::before {
    filter: opacity(0.1);
}
.specials-list label:disabled {
    filter: opacity(0.3);
}
.specials-list input[type="checkbox"]:checked + label:hover::before{
    filter: opacity(1);
}
.specials-list input[type="checkbox"]:checked + label:disabled::before{
    filter: opacity(0.1);
}
.filter .button {
    min-width: 260px;
}
/*Сортировка*/
.sort {
    display: flex;
    justify-content: space-between;
}
.sort p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
}
.sort a {
    margin-right: 27px;
    font: inherit;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.sort a:nth-last-of-type(1) {
    margin-right: 90px;
}
.sort a:hover{
    color: rgba(0, 0, 0, 0.6);
}
/*Контент*/
.content-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 99px;
}
.content-list li {
    margin-right: 40px;
}
.content-list li:nth-child(2n) {
    margin-right: 0;
}

.paginator {
    min-width: 443px;
    white-space: nowrap;
    font-size: 0;
}
.paginator a {
    display: inline-block;
    min-width: 50px;
    height: 50px;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
    font: inherit;
    font-weight: 500;
    background-color: #eeeeee;
    text-transform: uppercase;
    color: #000000;
    font-size: 16px;
}
/*Пагинация
.pagination-list {
    list-style: none;
    padding-left: 0;
}
.pagination-list li {
    display: inline-block;
}
.page-button a {
    display: inline-block;
    min-width: 50px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    font: inherit;
    font-weight: 500;
    background-color: #eeeeee;
    text-transform: uppercase;
    color: #000000;
}
.page-button a:hover{
    background-color: #dfdfdf;
}
.page-button a:active{
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.page-active a {
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
}*/